@font-face{
    font-family: headers;
    src: url(../fonts/BebasNeue-Regular.otf)
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  color: rgb(187, 187, 187);
  font-family: headers;
}

.center {
    margin: auto;
  }

.centerVert{
  padding: 250px 0;
}

.btn{
  background-color:  rgba(187, 187, 187, 0);
}

input{
  color: rgb(187, 187, 187);
}


.signUp{
  margin: auto;
  width: 69%;
}

.success{
  color: green;
}

p {
  padding: 10px 0;
  color: rgb(187, 187, 187);
  font-size: 18px;
}
@media screen and (min-width: 600px) {
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: rgb(187, 187, 187, 0);
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
body {
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: #fff;
}

.active {
  background-color: rgba(255,255,255,0);
  color: white;
}

  h1{
    font-size: 30px;
  }
  h4{
    font-size: 18px;
  }

  .signUp{
    margin: unset;
    width: 100%;
  }
}
